<div class="row">
	<div class="container">
		<div>
			<input type="text" name="" placeholder="first name" ng-model="newContact.firstName">
			<input type="text" name="" placeholder="last name" ng-model="newContact.lastName">
			<input type="phone" name="" placeholder="phone" ng-model="newContact.phone">
			<input type="email" name="" placeholder="email" ng-model="newContact.email">
			<input type="text" name="" placeholder="street" ng-model="newContact.address.street">
			<input type="text" name="" placeholder="city" ng-model="newContact.address.city">
			<input type="text" name="" placeholder="state" ng-model="newContact.address.state">
			<input type="text" name="" placeholder="zipcode" ng-model="newContact.address.zipcode"><br>
			<button class="btn btn-success" ng-click="addNewAddress()">Add Contact</button>
		</div>
	</div>
</div>